table, th, td{
    border: 3px solid black;
    
}

table{
    border-collapse: collapse;
    width: 55%;
    margin: 25px;
    padding: 10px;
}

th{
    height: 50px;
}

th,tr{
    height: 25px;
    width: 10px;
}

header{
    color: whitesmoke;
}

#InfoEnter{
    display: inline;
    color: whitesmoke;
}

#MasterHeadline{
    color: whitesmoke;
}

#Warning{
    float: left;
    clear: both;
}

#Data_Entry{
    margin-left: 25%;
    margin-right: 25%;
    width: 75%;
    color: whitesmoke;
}
#DisplayAll{
    font-size:1.15em;
    position: absolute;
}

.wrapper{
    text-align: center;
    margin: auto;
    width: 50%;
}

footer{
    margin: auto;
    width: 50%;
}

#EntryForm{
    font-size: 1.1em;
    width: 70%;
}

#Master{
    width: 50%;
    margin: auto;

}



#Submit{
    border-radius: 3px;
    background-color: #ccc;
    font-size: 1.15em;
    border:none;
}

#Title_Header{
    text-align: center;
    text-shadow: black 1px 1px;
}


input[type = text]{
    width: 100%;
    padding: 5px;
    border: 5 px solid#ccc;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type = email]{
    width: 100%;
    padding: 5px;
    border: 1 px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=tel]
{
    width: 100%;
    padding: 5px;
    border: 1 px solid black;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
}


html{
    background-image: url("../images/blackgrey_min.jpg")
}



